.introduction-container {
    padding: 15px;
}

.introduction-item {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.introduction-icon {
    height: 150px;
    width: 150px;
    border: thick solid #2190FF;
    border-radius: 50%;
    background-color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.introduction-icon-content {
    background-image: linear-gradient(#2190FF, #003BDC);
    border-radius: 50%;
    height: 124px;
    width: 124px;
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction-content {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 15px;
}

.introduction-content-title {
    font-size: 24px;
    font-weight: 800;
    color: #333333;
}

.introduction-content-p {
    font-size: 20px;
    color: #333333;
}

.introduction-icon-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 15px;
    margin-bottom: 15px;
}

@media (max-width: 575px) {
    .introduction-item {
        flex-direction: column;
    }
}