@import "../../../assets/scss/responsive.constant.scss";
@import "../../../assets/scss/varibles.constant.scss";

#back-to-top {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 5%;
    right: 1%;
    cursor: pointer;
    transition: all .3s;
    text-align: center;
    line-height: 30px;
    transform: translateY(130px);
    background-color: #4e58b2;
    color: #fff;
    z-index: 999;

    i {
        font-size: 20px;
    }

    &.scrolldown {
        transform: translateY(0);
    }
}


#order-now {
    position: fixed;
    @include responsive(SM){
        display: none;
    }
    @include responsive(MD){
        right: 7%;
    }
    bottom: 5%;
    right: 5%;
    box-shadow: rgba(0,0,0,.4) 0 8px 12px 0;
    background-color: rgb(205,40,47)!important;
    cursor: pointer;
    border-radius:5px;
    padding: 15px 20px;
    animation: scale 1.5s infinite;
    z-index: 10;
    @keyframes scale {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.15);
        }

        100% {
            transform: scale(1);
        }
    }

    a {
        color: white;
        text-transform: uppercase;
        font-weight: 500;
    }
}