.feedback-container {
    margin-top: 40px;
    margin-bottom: 20px;
}
.feedback-title{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    color: #0038D1;
    font-size: 40px;
    font-weight: 600;
}
.feedback-item {
    display: flex;
    flex-direction: column-reverse;
}

.feedback-item-info {
    color: #0038D1;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.feedback-item-feedback {
    font-size: 14px;
    color: #333333;
    background-color: #D4E6E6;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    /* max-height: 210px; */
    position: relative;
    z-index: 1;
}

.feedback-item-feedback::after {
    content: " ";
    position: absolute;
    height: 12px;
    width: 12px;
    bottom: -6px;
    left: 50%;
    background-color:#D4E6E6;
    transform: rotate(45deg);
}

.feedback-item-info::after {
    position: absolute;
    height: 12px;
    width: 12px;
    top: 0;
    left: 0;
    background-color: red;

}
.feedback-item-feedback .block-with-text {
    max-height: 200px;
}

.block-with-text {
    overflow: hidden;
    position: relative;
    margin-right: -1em;
    padding-right: 1em;
    z-index: 2;
}

.block-with-text:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
}

.block-with-text:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
}