@import "../../../assets/scss/varibles.constant.scss";
@import "../../../assets/scss/responsive.constant.scss";

.review-container {
    h1 {
        font-family: Roboto, sans-serif;
        margin: 25px 0px;
        font-weight: 400;
        font-size: 30px;
        line-height: 38px;
        color: #111111;
    }

    .intro-box {
        margin: 10px 0px;

        p {
            color: rgb(34, 34, 34);
            display: block;
            font-family: Arial, Helvetica, sans-serif, sans-serif;
            font-size: 16px;
            margin: 10px 0px;
            line-height: 26px;
        }
    }


    .comment-box {
        margin: 10px 0px;
        position: relative;
        &::after{
            content:'';
            position: absolute;
            width: 100%;
            height: 1px;
            margin-top: 5px;
            background-color: #b3b2b2;
        }

        &:last-child::after{
            display: none;
        }

        .subject-each-comment {
            color: rgb(34, 34, 34);
            font-family: Arial, Helvetica, sans-serif, sans-serif;
            font-size: 16px;
            line-height: 26px;
            margin: 0px;
            font-weight: bold;
        }

        .content-each-comment {
            color: rgb(34, 34, 34);
            display: inline;
            font-family: Arial, Helvetica, sans-serif, sans-serif;
            font-size: 16px;
            line-height: 26px;
        }
    }


   
}