@import "../../../assets/scss/varibles.constant.scss";
@import "../../../assets/scss/responsive.constant.scss";

.container-button{
    background: $color-main;
    color:white;
    padding:25px 0;
    .text{
        // position:relative;
        @include responsive(SM){
            text-align: center;
        }
      
        // img{
        //     width: 40%;
        //     position: absolute;
        //     top: -100%;
        //     left: -38%;
        // }

        .btn-main{
            position: relative;
            &::before{
                content:url('../../../assets/images/arrow_button.png');
                position: absolute;
                top: -100%;
                left: -64%;            
            }
            @include responsive(SM){
                &::before{
                    display: none;          
                }
            }
        }
    }
}