@import "../../../assets/scss/varibles.constant.scss";
@import "../../../assets/scss/responsive.constant.scss";

#order-now {
  // display: none !important;
}

.order-container {
  .bg-grey {
    background: #eaeaea;
    color: #333;
    padding: 15px 35px !important;

    p,
    h6 {
      margin-bottom: 0 !important;
    }

    span {
      text-decoration-line: line-through;
    }

    h6 {
      font-weight: bold;
    }
  }

  .hotline {
    color: white;
    padding: 18px;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    background-color: rgb(251, 173, 24) !important;
  }

  .ulli {
    ul {
      padding-left: 5px;
      font-size: 16px;

      li {
        display: block;

        i {
          margin-right: 10px;
          color: #e5372b;
        }
      }
    }
  }

  .form-group {
  }
}

.alert {
  animation: ring 0.5s infinite;
  margin-bottom: 0;
  display: none;
  @include responsive(XS) {
    display: none;
  }

  @keyframes ring {
    0% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(2deg);
    }

    50% {
      transform: rotate(0deg);
    }

    75% {
      transform: rotate(-2deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}