@import "../../../assets/scss/varibles.constant.scss";
@import "../../../assets/scss/responsive.constant.scss";

.navbar-expand-lg {
    background: $color-main;
    padding: 0 !important;
    transition: all ease-in 0.2s;
    transform: translateY(0%);

    ul {
        li {
            a {
                color: white;
                font-weight: 600;
                transition: all 0.3s;
                text-transform: uppercase;
            }

            &:hover {
               a{
                color: rgb(205,40,47)
               }
            }
            // &.active{
            //      background: red;
            // }

            padding: 0 10px;
        }

        margin-left: 30px;
    }

    .navbar-collapse {
        padding: 10px 0;
    }

    &.hide {
        transform: translateY(-100%);
    }
}