@import "../../../assets/scss/varibles.constant.scss";
@import "../../../assets/scss/responsive.constant.scss";

.faq-container{

    .faq-title {
        color: rgb(17, 17, 17);
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 38px;
        font-family: Roboto, sans-serif;
    }

    .faq-item{
       .question h3{
        font-size: 22px;
        margin-top: 30px;
        margin-bottom: 20px;
       }
       .answer p{
           margin-bottom: 5px;
           font-size: 18px;
       }
    }
}
