@import "../../../assets/scss/varibles.constant.scss";
@import "../../../assets/scss/responsive.constant.scss";

.home-container {
  .banner {
    background-size: cover;
    background-image: url("https://cdn-engbreaking.cdn.vccloud.vn/wp-content/uploads/2018/12/10-backgound-banner-top.jpg");
    position: relative;
    img {
      z-index: 2;
    }
  }

  .slick-slide {
    padding: 0 0.2%;
    cursor: pointer;
  }

  .title {
    color: rgb(205, 40, 47);
  }

  .title-child {
    font-weight: 500;
  }

  .main-content {
    .content-text {
      margin: auto;
      width: 70%;
      @include responsive(XS) {
        width: 100%;
      }

      .card {
        border-radius: unset;
        border: 2px solid #e5372b;
        .countdown {
          strong {
            color: #e5372b;
            font-weight: bold;
          }
          span {
            text-decoration: line-through;
          }
          .count span {
            text-decoration: unset;
            font-size: 90px;
            font-weight: bold;
            color: red;

            @include responsive(XS) {
              font-size: 40px;
            }
          }
        }
      }
    }

    .row-text {
      .col-lg-4 {
        img {
          width: 35% !important;
        }
      }
      .row-text-title {
        font-weight: bold;
        color: $color-main;
      }
      p {
      }
      ul {
        list-style: none;
        li {
          color: $color-main;
          text-align: left;
          display: block;
          i {
            margin-right: 10px;
          }
        }
      }
      hr {
        border-top: 1px solid $color-main;
      }
    }
  }
}
