@import "../../../assets/scss/varibles.constant.scss";
@import "../../../assets/scss/responsive.constant.scss";


.sub-footer{
    background: $color-main;
    color: white;
    font-size: 13px;
    padding: 8px 0;
  
    @include responsive(XS){
        text-align: center;
        font-size: 12px;
    }
    .copyright{
        cursor: pointer;
    }
    .sub-right{
            margin-bottom: 0 !important;
            float:right;
            @include responsive(XS){
                float:unset;
                padding: 8px 0;
            }
            li{
                margin: 0 20px;
                cursor: pointer;
                @include responsive(XS){
                    margin: 0 12px;
                }
            }
    }

}
