@import "./assets/scss/responsive.constant.scss";
@import "./assets/scss/varibles.constant.scss";


// HTML5 display-role reset for older browsers
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}
li{
    display: inline;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a,
a:hover {
    color: black;
    text-decoration: none !important;
}


////////////////////////////////////

.mt-100 {
    margin-top: 100px;
}

.mt-50 {
    margin-top: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-100 {
    margin-bottom: 100px;
}


input,button,textarea{
    resize: none;
    &:focus{
        outline:none !important;
        box-shadow: none !important;
    }
}


///////////////////// button

.btn-main{
    color:white;
    background-color: rgb(251,173,24)!important;
    border:none;
    padding:18px 60px;
    font-size: 18px;
    font-weight: 600;
    &:hover{
        color: white;
    }
    a{
        color: white;
        &:hover{
            color: white;
        }
    }
}

.link-btn-main{
    width: 100% !important;
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0,0,0,.4) 0 8px 12px 0;
    background-image: none!important;
    background-color: rgb(205,40,47)!important;
}
