.feature-box-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.feature-container{
    padding: 15px;
}

.feature-title {
    font-size: 36px;
    text-align: center;
    font-weight: 600;
    color: #333333;
}

.feature-description {
    font-size: 20px;
    text-align: center;
    color: #6E6E6E;
}